.wrapper{
  padding: 32px;
}
.title {
  font-size: 26px;
  font-weight: bold;
}

.description {
  margin-top: 16px;
}

.text{
  p {
    margin-top: 24px;
    :first-child{margin-left: 0px}
    :last-child{margin-right: 0px}
  }
  a {
    margin: 5px;
    color:#4F27BF;
  }
}