.wrapper{
  width: 100%;
  margin: 32px;
  box-sizing: border-box;

}
.title {
  font-size: 26px;
  font-weight: bold;
}

.description {
  margin-top: 16px;
}

.text{
  p {
    margin-top: 24px;
  }
  a {
    color:#4F27BF;
  }
}