$maincolor: #4F27BF;
.headerWrapper{
  height: 80px;
}

.headerContainer {
  display: flex;
  background-color: $maincolor;
  position: fixed;
  height: 80px;
}

.headerContentContainer {
  display: flex;
  margin: 0 32px;

  div {
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    color: white;
    img {
      margin-right: 24px;
    }
    span {
      @media (max-width: 520px) {
        display: none;
      }
    }
  }

  :last-child {
    justify-content: end;
  }

}

