.wrapper {
  width: 300px;
  padding: 32px 25px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

  strong {
    margin-bottom: 15px;
  }

  div {
    margin: 40px 0;
    display: flex;
    align-items: center;
    img {
      margin-right: 16px;
    }

    a {
      font-weight: bold;
      text-decoration: none;
      color: black;
    }

  }

  .settingsOpen {
    margin: 40px 0 0 47px;
  }

  .dynamicMenuItem {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    div {
      margin: 0;
      display: flex;
      align-items: center;
    }
  }
}









