.wrapper {
  padding: 32px;
}

.wrapperSearchInput {
  div {
    margin-bottom: 16px;
  }
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.searchContainer {
  display: flex;
  flex-direction: row;

  input {
    padding: 24px;
    margin-right: 24px;
    box-sizing: border-box;
    width: 74.3%;
    border-radius: 10px;
    border: 3px #4F27BF solid;
    height: 70px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 70px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    background-color: #4F27BF;
    color: white;
    border: none;
    font-size: 26px;
    img {
      margin-right: 16px;
      @media (max-width: 830px) {
        display: none;
      }
    }
  }
}

.searchListContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95.5%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 32px 0;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  margin: 24px;
  strong {
    font-size: 26px;
    font-weight: bold;
  }
  div {
    display: flex;
    font-weight: 500;
    border-top: 1px solid #D7D7D7;
    padding: 14px 0;
  }
}





